@media(max-width:992px){

.contact-grid{

grid-template-columns:1fr;

gap:60px;

}

.hero-contact{

gap:20px;

}

.contact-form{

padding:35px;

}

}


@media(max-width:768px){

.contact-hero{

padding:150px 20px 90px;

}

.hero-contact{

flex-direction:column;

align-items:center;

}

.contact-item{

flex-direction:column;

text-align:center;

align-items:center;

}

.contact-form{

padding:30px;

}

.map iframe{

height:420px;

}

}




@media(max-width:480px){

.contact-hero{

padding:140px 15px 80px;

}

.contact-form{

padding:24px;

}

.contact-item i{

width:55px;

height:55px;

font-size:1.2rem;

}

.map iframe{

height:320px;

}

}